@{
    ViewData["Title"] = "Message";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

}
<div class="container d-flex flex-column justify-content-center align-items-center animate__animated animate__zoomIn" style="height: 100vh">
    <h2 class="text-center my-3">Forgot Password!</h2>
<p class="text-center my-3">
    If your email is registered, a password reset link has been sent to your email address.
    Please check your inbox.
</p>
<a asp-action="Login" class="mx-auto btn btn-orange my-3">Go to Login</a>
</div>
