@{
    ViewData["Title"] = "Thank You";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container d-flex flex-column justify-content-center align-items-center animate__animated animate__zoomIn" style="height: 100vh">
    <h2 class="text-center my-3">Please Confirm your Email!</h2>
    <p class="text-center my-3">
        A confirmation email has been sent to your email address. Please check your inbox and click the confirmation link to verify your account.
    </p>
    <a asp-action="Login" class="btn btn-orange text-center my-3">Go to Login</a>
</div>
